<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Convert <%= @money_one %> to <%= @money_two %></h1>
    <div>
      1 <%= @money_one %> equals <%=@conversion%> <%= @money_two %>
    </div><br>
    <div>
      Go <a href="/<%= @money_one %>">back</a>
    </div>
  </body>
</html>
